Repository devizer/azure-pipelines-agent-in-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-Disk-Benchmarks.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-Disk-Benchmarks.yml: any of: build-tools/Azure-Pipelines-Disk-Benchmark.sh
  azure-pipelines-build-tools.yml: any of: build-tools
  azure-pipelines-enumerate-gcc.yml: any of: build-tools
  azure-pipelines-prepare-proot.yml: any of: build-tools/Prepare-proot.sh
  azure-pipelines.yml: any of: *, but not: build-tools, azure-pipelines-build-tools.yml

2 termux debian-11 ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

3 termux debian-11 ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

termux micro proot ***NO_CI***
  azure-pipelines-prepare-proot.yml
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines.yml

2 termux micro proot ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

3 termux micro proot ***NO_CI***
  azure-pipelines-prepare-proot.yml
Due: azure-pipelines.yml

4 termux micro proot ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

5th termux micro proot ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

6th termux micro proot ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

7th termux micro proot ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

8th termux micro proot ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

9th termux micro proot ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

10th termux micro proot ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

11th termux micro proot ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

12th termux micro proot ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

13th termux micro proot ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

14th termux micro proot, 7z distribution ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

15th termux micro proot, 7z distribution ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

16th termux micro proot, 7z distribution ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

17th termux micro proot, 7z distribution ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

build-tools for older debian ***NO_CI***
  build-tools/Build-and-Deploy-Git.sh
  build-tools/install-autoconf.sh
  build-tools/install-automake.sh
  build-tools/install-libtool.sh
  build-tools/install-m4.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

build tools for prev debian 2 ***NO_CI***
  azure-pipelines-build-tools.yml
Due: none

build tools for prev debian, bom ***NO_CI***
  build-tools/install-autoconf.sh
  build-tools/install-libtool.sh
  build-tools/install-m4.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

build tools for prev debian, bom, sudo make install ***NO_CI***
  build-tools/install-autoconf.sh
  build-tools/install-automake.sh
  build-tools/install-libtool.sh
  build-tools/install-m4.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

2nd build tools for prev debian, bom, sudo make install ***NO_CI***
  build-tools/Build-and-Deploy-Git.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

3rd build tools for prev debian, bom, sudo make install, libcurl ***NO_CI***
  build-tools/Build-and-Deploy-Git.sh
  build-tools/install-cmake.sh
  build-tools/install-git.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

4 build tools for prev debian, bom, sudo make install, libcurl ***NO_CI***
  build-tools/Build-and-Deploy-Git.sh
  build-tools/install-git.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

3 build tools for prev debian, bom, sudo make install ***NO_CI***
  azure-pipelines-build-tools.yml
  build-tools/install-cmake.sh
  build-tools/install-m4.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

5 build tools for prev debian, bom, sudo make install, libcurl ***NO_CI***
  build-tools/Build-and-Deploy-Git.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

4 build tools for prev debian, bom, sudo make install ***NO_CI***
  build-tools/install-git.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

6 build tools for prev debian, git, bom, sudo make install, libcurl ***NO_CI***
  build-tools/Build-and-Deploy-Git.sh
  build-tools/debug-git.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

5 build tools for prev debian, bom, sudo make install ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

6 build tools for prev debian, bom, sudo make install ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

7 build tools for prev debian, bom, sudo make install ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

build tools: added make 4.3 ***NO_CI***
  build-tools/Build-and-Deploy-Git.sh
  build-tools/install-make.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

build tools: added gawk and grep ***NO_CI***
  build-tools/Build-and-Deploy-Git.sh
  build-tools/install-autoconf.sh
  build-tools/install-automake.sh
  build-tools/install-libtool.sh
  build-tools/install-m4.sh
  build-tools/install-make.sh
  build-tools/install-the-gnu-tools.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

build tools: added gawk and grep ***NO_CI***
  build-tools/Build-and-Deploy-Git.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

2nd build tools: added gawk and grep and strip them ***NO_CI***
  build-tools/install-the-gnu-tools.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

3rd build tools: added gawk and grep and strip them ***NO_CI***
  build-tools/install-the-gnu-tools.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

8 build tools for prev debian, bom, sudo make install ***NO_CI***
  build-tools/install-the-gnu-tools.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

9 build tools for prev debian, bom, sudo make install ***NO_CI***
  build-tools/install-the-gnu-tools.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml
