Repository devizer/azure-pipelines-agent-in-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-Disk-Benchmarks.yml, azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-docker-images.yml, azure-pipelines-build-kernel.yml, azure-pipelines-build-tools.yml, azure-pipelines-cache-nuget.yml, azure-pipelines-cloud-init.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-fetch-mono-fonts.yml, azure-pipelines-pg-check-lab.yml, azure-pipelines-postgres-lab.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-sqlserver-image.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines-test-cloud-images.yml, azure-pipelines-test-raid.yml, azure-pipelines-test-visual-studio.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-Disk-Benchmarks.yml: any of: build-tools/Azure-Pipelines-Disk-Benchmark.sh
  azure-pipelines-build-cmake.yml: any of: build-tools
  azure-pipelines-build-curl.yml: any of: build-tools
  azure-pipelines-build-docker-images.yml: any of: build-tools/Prepare-proot.sh
  azure-pipelines-build-kernel.yml: any of: cloud-init
  azure-pipelines-build-tools.yml: any of: build-tools
  azure-pipelines-cache-nuget.yml: any of: azure-pipelines-cache-nuget.yml, but not: *
  azure-pipelines-cloud-init.yml: any of: cloud-init
  azure-pipelines-enumerate-gcc.yml: any of: build-tools
  azure-pipelines-fetch-mono-fonts.yml: any of: azure-pipelines-fetch-mono-fonts.yml, build-tools/build-fonts-in-container.sh, but not: *
  azure-pipelines-pg-check-lab.yml: any of: postgres-lab
  azure-pipelines-postgres-lab.yml: any of: postgres-lab
  azure-pipelines-prepare-proot.yml: any of: build-tools/Prepare-proot.sh
  azure-pipelines-sqlserver-image.yml: any of: build-tools/Prepare-proot.sh
  azure-pipelines-static-portable-cmake.yml: any of: build-tools
  azure-pipelines-test-cloud-images.yml: any of: Cloud-Images
  azure-pipelines-test-raid.yml: any of: azure-pipelines-test-raid.yml, but not: *
  azure-pipelines-test-visual-studio.yml: any of: azure-pipelines-test-visual-studio.yml
  azure-pipelines.yml: any of: *, but not: build-tools, azure-pipelines-build-tools.yml

3rd Test Visual Studio ***NO_CI***
  azure-pipelines-test-visual-studio.yml
Due: azure-pipelines-test-visual-studio.yml, azure-pipelines.yml

4th Test Visual Studio ***NO_CI***
  azure-pipelines-test-visual-studio.yml
Due: azure-pipelines-test-visual-studio.yml, azure-pipelines.yml

5th Test Visual Studio ***NO_CI***
  azure-pipelines-test-visual-studio.yml
Due: azure-pipelines-test-visual-studio.yml, azure-pipelines.yml

6th Test Visual Studio ***NO_CI***
  azure-pipelines-test-visual-studio.yml
Due: azure-pipelines-test-visual-studio.yml, azure-pipelines.yml

7th Test Visual Studio ***NO_CI***
  azure-pipelines-test-visual-studio.yml
Due: azure-pipelines-test-visual-studio.yml, azure-pipelines.yml

9th Test Visual Studio, Separate Folder ***NO_CI***
  azure-pipelines-test-visual-studio.yml
Due: azure-pipelines-test-visual-studio.yml, azure-pipelines.yml

10th Test Visual Studio, Separate Folder ***NO_CI***
  azure-pipelines-test-visual-studio.yml
Due: azure-pipelines-test-visual-studio.yml, azure-pipelines.yml

11th Test Visual Studio, Separate Folder ***NO_CI***
  azure-pipelines-test-visual-studio.yml
Due: azure-pipelines-test-visual-studio.yml, azure-pipelines.yml

12th Test Visual Studio, Separate Folder, plus compact ***NO_CI***
  azure-pipelines-test-visual-studio.yml
Due: azure-pipelines-test-visual-studio.yml, azure-pipelines.yml

14th Test Visual Studio, Separate Folder, plus compact ***NO_CI***
  azure-pipelines-test-visual-studio.yml
Due: azure-pipelines-test-visual-studio.yml, azure-pipelines.yml

15th Test Visual Studio, Separate Folder, plus compact ***NO_CI***
  azure-pipelines-test-visual-studio.yml
Due: azure-pipelines-test-visual-studio.yml, azure-pipelines.yml

16th Test Visual Studio, Separate Folder, plus compact ***NO_CI***
  azure-pipelines-test-visual-studio.yml
Due: azure-pipelines-test-visual-studio.yml, azure-pipelines.yml

17th Test Visual Studio, Separate Folder, plus compact ***NO_CI***
  azure-pipelines-test-visual-studio.yml
Due: azure-pipelines-test-visual-studio.yml, azure-pipelines.yml

18th Test Visual Studio, Separate Folder, plus compact for full ***NO_CI***
  azure-pipelines-test-visual-studio.yml
Due: azure-pipelines-test-visual-studio.yml, azure-pipelines.yml

Test Visual Studio, Separate Folder, 2ND compact for full ***NO_CI***
  azure-pipelines-test-visual-studio.yml
Due: azure-pipelines-test-visual-studio.yml, azure-pipelines.yml

Test Images: Combine ***NO_CI***
  azure-pipelines-test-cloud-images.yml
Due: azure-pipelines.yml

2nd Test Images: Combine ***NO_CI***
  azure-pipelines-test-cloud-images.yml
Due: azure-pipelines.yml

3rd Test Images: Combine ***NO_CI***
  azure-pipelines-test-cloud-images.yml
  azure-pipelines-test-visual-studio.yml
Due: azure-pipelines-test-visual-studio.yml, azure-pipelines.yml

4th Test Images: Combine ***NO_CI***
  azure-pipelines-test-cloud-images.yml
Due: azure-pipelines.yml

5th Test Images: Combine ***NO_CI***
  Cloud-Images/Step-DownloadAll.sh
Due: azure-pipelines-test-cloud-images.yml, azure-pipelines.yml

6th Test Images: Combine ***NO_CI***
  azure-pipelines-test-cloud-images.yml
Due: azure-pipelines.yml

7th Test Images: Combine ***NO_CI***
  azure-pipelines-test-cloud-images.yml
Due: azure-pipelines.yml

8th Test Images: Combine ***NO_CI***
  azure-pipelines-test-cloud-images.yml
Due: azure-pipelines.yml

9th Test Images: Combine ***NO_CI***
  azure-pipelines-test-cloud-images.yml
Due: azure-pipelines.yml

10th Test Images: Combine ***NO_CI***
  azure-pipelines-test-cloud-images.yml
  cloud-init/Local-Test-Syntax.cmd
Due: azure-pipelines-build-kernel.yml, azure-pipelines-cloud-init.yml, azure-pipelines.yml

VM-Manager: Customize CPU and CPU Features (tested x84, arm64, armv7, i386) ***NO_CI***
  cloud-init/VM-Manager.sh
Due: azure-pipelines-build-kernel.yml, azure-pipelines-cloud-init.yml, azure-pipelines.yml

11th Test Images: Combine ***NO_CI***
  azure-pipelines-test-cloud-images.yml
Due: azure-pipelines.yml

Debain 13 backports, ***NO_CI***
  azure-pipelines-cloud-init.yml
  cloud-init/VM-Manager.sh
Due: azure-pipelines-build-kernel.yml, azure-pipelines-cloud-init.yml, azure-pipelines.yml

2nd Debain 13 backports, ***NO_CI***
  azure-pipelines-cloud-init.yml
Due: azure-pipelines.yml

3rd Debain 13 backports, ***NO_CI***
  azure-pipelines-cloud-init.yml
Due: azure-pipelines.yml

4th Debain 13 backports, ***NO_CI***
  azure-pipelines-cloud-init.yml
Due: azure-pipelines.yml

5th Debain 13 backports, ***NO_CI***
  azure-pipelines-cloud-init.yml
Due: azure-pipelines.yml

6th Debain 13 backports, ***NO_CI***
  azure-pipelines-cloud-init.yml
Due: azure-pipelines.yml

7th Debain 13 backports, ***NO_CI***
  azure-pipelines-cloud-init.yml
Due: azure-pipelines.yml

8th Debain 13 backports, ***NO_CI***
  azure-pipelines-cloud-init.yml
Due: azure-pipelines.yml

9th Debain 13 backports, ***NO_CI***
  azure-pipelines-cloud-init.yml
Due: azure-pipelines.yml

10th Debain 13 backports, ***NO_CI***
  azure-pipelines-cloud-init.yml
Due: azure-pipelines.yml

11th Debain 13 backports, ***NO_CI***
  azure-pipelines-cloud-init.yml
Due: azure-pipelines.yml

14th Debain 13 backports, ***NO_CI***
  cloud-init/VM-Manager.sh
Due: azure-pipelines-build-kernel.yml, azure-pipelines-cloud-init.yml, azure-pipelines.yml

15th Debain 13 backports, ***NO_CI***
  azure-pipelines-cloud-init.yml
Due: azure-pipelines.yml
