Repository devizer/azure-pipelines-agent-in-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-build-tools.yml, azure-pipelines-prepare-proot.yml

azure-pipelines-build-tools.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-18.04
    timeoutInMinutes: 180
    steps:
    - script: 'cd build-tools
  
        bash -e Build-and-Deploy-Git.sh
  
        '
      displayName: build
    - task: PublishBuildArtifacts@1
      condition: succeededOrFailed()
      displayName: GCC @ Publish
      inputs:
  ...

azure-pipelines-prepare-proot.yml:
  jobs:
  - job: Prepare
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    steps:
    - script: 'cd build-tools
  
        bash -e Prepare-proot.sh
  
        '
      displayName: Run a multi-line script
    - task: PublishBuildArtifacts@1
      condition: succeededOrFailed()
      displayName: Publish
  ...

preprare proot v2
  azure-pipelines-prepare-proot.yml
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-prepare-proot.yml

preprare proot v3
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-prepare-proot.yml

preprare proot v4
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-prepare-proot.yml

preprare proot v5
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-prepare-proot.yml

preprare proot v6
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-prepare-proot.yml

preprare proot v7
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-prepare-proot.yml

preprare proot vLast
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-prepare-proot.yml

preprare proot vLast-B
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-prepare-proot.yml

preprare proot vLast-C
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-prepare-proot.yml

preprare proot vLast-D
  azure-pipelines-prepare-proot.yml
Due: none

preprare proot vLast-EE
  azure-pipelines-prepare-proot.yml
Due: none

preprare proot vLast-EE
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-prepare-proot.yml

preprare proot vLast-EEE
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-prepare-proot.yml

Set up CI with Azure Pipelines
  azure-pipelines-enumerate-gcc.yml
Due: none

added Enumerate-GCC.sh
  build-tools/Enumerate-GCC.sh
Due: azure-pipelines-build-tools.yml

added Enumerate-GCC.sh v2
  azure-pipelines-enumerate-gcc.yml
Due: none

added Enumerate-GCC.sh v3 ***NO_CI***
  build-tools/Enumerate-GCC.sh
Due: azure-pipelines-build-tools.yml

added Enumerate-GCC.sh v4 ***NO_CI***
  build-tools/Enumerate-GCC.sh
Due: azure-pipelines-build-tools.yml

added Enumerate-GCC.sh v5 ***NO_CI***
  build-tools/Enumerate-GCC.sh
Due: azure-pipelines-build-tools.yml

added Enumerate-GCC.sh v6 ***NO_CI***
  build-tools/Enumerate-GCC.sh
Due: azure-pipelines-build-tools.yml

added Enumerate-GCC.sh v7 ***NO_CI***
  build-tools/Enumerate-GCC.sh
Due: azure-pipelines-build-tools.yml

added Enumerate-GCC.sh vLast ***NO_CI***
  build-tools/Enumerate-GCC.sh
Due: azure-pipelines-build-tools.yml

added Enumerate-GCC.sh vLast-B ***NO_CI***
  build-tools/Enumerate-GCC.sh
Due: azure-pipelines-build-tools.yml

added Enumerate-GCC.sh vLast-С ***NO_CI***
  build-tools/Enumerate-GCC.sh
Due: azure-pipelines-build-tools.yml

added Enumerate-GCC.sh vLast-D ***NO_CI***
  build-tools/Enumerate-GCC.sh
Due: azure-pipelines-build-tools.yml

added Enumerate-GCC.sh vLast-F ***NO_CI***
  build-tools/Enumerate-GCC.sh
Due: azure-pipelines-build-tools.yml

added Enumerate-GCC.sh vLast-G ***NO_CI***
  build-tools/Enumerate-GCC.sh
Due: azure-pipelines-build-tools.yml

added Enumerate-GCC.sh and Final Summary ***NO_CI***
  build-tools/Enumerate-GCC.sh
Due: azure-pipelines-build-tools.yml

added Enumerate-GCC.sh and Full Final Summary ***NO_CI***
  build-tools/Enumerate-GCC.sh
Due: azure-pipelines-build-tools.yml

Enumerate-GCC.sh: Full Final Summary ***NO_CI***
  build-tools/Enumerate-GCC.sh
Due: azure-pipelines-build-tools.yml

Enumerate-GCC.sh: Full Final Summary v2 ***NO_CI***
  build-tools/Enumerate-GCC.sh
Due: azure-pipelines-build-tools.yml

Enumerate-GCC.sh: Full Final Summary Test ***NO_CI***
  build-tools/Enumerate-GCC.sh
Due: azure-pipelines-build-tools.yml

Enumerate-GCC.sh: Z-Full Final Summary ***NO_CI***
  build-tools/Enumerate-GCC.sh
Due: azure-pipelines-build-tools.yml

Enumerate-GCC.sh: Tiny Final Summary ***NO_CI***
  build-tools/Enumerate-GCC.sh
Due: azure-pipelines-build-tools.yml

added 7zz for build-tools ***NO_CI***
  build-tools/install-7zz (direct from 7-zip.org).sh
  build-tools/install-7zz.sh
  build-tools/repack-7zz.sh
Due: azure-pipelines-build-tools.yml

refactored docker images ***NO_CI***
  azure-pipelines.yml
  azure-steps-nix.yml
  cross-platform/Dockerfile
  cross-platform/on-build/0a-Install-7z-git-bash.sh
  cross-platform/on-build/skip/0d-install-docker-ce.sh-SKIP
  cross-platform/on-build/skip/0g-install-GO-and-GIT-LFS.sh
  cross-platform/on-build/skip/1-Install-Bash-5.1.sh-SKIP
  cross-platform/on-build/skip/2-install-node.sh-SKIP
  cross-platform/on-build/skip/4a-install-python-3.8-on-jessie.sh
  cross-platform/on-build/skip/4p-install-pip-after-docker-client.sh-SKIP
  cross-platform/on-build/skip/7-install-git.sh
  cross-platform/on-build/skip/7z-install-7zip-16.02-2016-05-21.sh
Due: none

refactored 2 docker images ***NO_CI***
  azure-steps-nix.yml
Due: none

refactored 3 docker images ***NO_CI***
  azure-steps-nix.yml
Due: none

refactored 4 docker images ***NO_CI***
  cross-platform/Dockerfile
  cross-platform/on-build/4b-install-docker-client.sh
Due: none

Path conditions:
  azure-pipelines-build-tools.yml: any of: build-tools
  azure-pipelines-prepare-proot.yml: any of: build-tools/Prepare-proot.sh
