Repository devizer/azure-pipelines-agent-in-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-Disk-Benchmarks.yml, azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines.yml

azure-pipelines-Disk-Benchmarks.yml:
  jobs:
  - job: BENCHMARK
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    steps:
    - script: 'cd build-tools
  
        source Azure-Pipelines-Disk-Benchmarks.sh
  
        '
      displayName: Lets Rock
    - task: PublishBuildArtifacts@1
      condition: succeededOrFailed()
      displayName: Publish
  ...

azure-pipelines-build-cmake.yml:
  jobs:
  - job: cmake
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      matrix:
        x86-64:
          IMAGE: debian:7
          EXPLICIT_OPENSSL_OPTIONS: 'True'
        arm32v7:
          IMAGE: arm32v7/debian:7
          EXPLICIT_OPENSSL_OPTIONS: 'True'
        arm64v8 GCC-11:
  ...

azure-pipelines-build-tools.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    steps:
    - script: 'cd build-tools
  
        bash -e Build-and-Deploy-Git.sh
  
        '
      displayName: build
    - task: PublishBuildArtifacts@1
      condition: succeededOrFailed()
      displayName: Publish
      inputs:
  ...

azure-pipelines-enumerate-gcc.yml:
  jobs:
  - job: Enum
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    steps:
    - script: 'set -e
  
        cd build-tools
  
        sudo bash -c "export SYSTEM_ARTIFACTSDIRECTORY=$SYSTEM_ARTIFACTSDIRECTORY; bash -eu Enumerate-GCC.sh"
  
        sudo chown -R $(whoami) $SYSTEM_ARTIFACTSDIRECTORY
  
  ...

azure-pipelines-prepare-proot.yml:
  jobs:
  - job: Prepare
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      matrix:
        FULL:
          PREPARE_OS_MODE: BIG
          XZ: ''
        MICRO:
          PREPARE_OS_MODE: MICRO
          XZ: -micro
    steps:
    - script: 'set -e
  
        cd build-tools
  
  ...

azure-pipelines.yml:
  jobs:
  - job: Build
    strategy:
      maxParallel: 5
      matrix:
        Jessie 8:
          TAGS: -t devizervlad/crossplatform-azure-pipelines-agent:jessie
          TAG: jessie
          BASE_IMAGE: debian:jessie
        Stretch 9:
          TAGS: -t devizervlad/crossplatform-azure-pipelines-agent:stretch
  ...

9th build-curl.sh, added libssh2 ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

10th build-curl.sh, added libssh2 ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

11th build-curl.sh, added libidn2 ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

12th build-curl.sh, added libidn2 ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

13th build-curl.sh, added libidn2 ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

14th build-curl.sh, added with muted ldap ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

15th build-curl.sh,reverted md2 and rc5 ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

added curl for termux images ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

build-curl: latest qemu-user-static ***NO_CI***
  azure-pipelines-build-curl.yml
Due: azure-pipelines.yml

2nd build-curl: latest qemu-user-static ***NO_CI***
  azure-pipelines-build-curl.yml
Due: azure-pipelines.yml

build-curl: latest qemu-user-static, spelling ***NO_CI***
  azure-pipelines-build-curl.yml
Due: azure-pipelines.yml

prepare proot: removed 7z artifact ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

curl: removed man3 ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

curl: removed man3 2nd ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

curl: removed man3 3rd ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

curl: removed man3 4th ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

build-static-portable-cmake.sh ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

static portable cmake ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

2 build-static-portable-cmake.sh ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

3 build-static-portable-cmake.sh ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

4 build-static-portable-cmake.sh ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines.yml

5 build-static-portable-cmake.sh ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

6 build-static-portable-cmake.sh ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

7 build-static-portable-cmake.sh ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines.yml

8 build-static-portable-cmake.sh, muted -Oz ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

9 build-static-portable-cmake.sh, muted -Oz ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

10 build-static-portable-cmake.sh, muted -Oz, -j1 ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

10 build-static-portable-cmake.sh, muted -Oz, no -j ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

11 build-static-portable-cmake.sh, muted -Oz, no -j ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

12 build-static-portable-cmake.sh, revert -Oz, no -j ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

13 build-static-portable-cmake.sh, revert -Oz, no -j ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

14 build-static-portable-cmake.sh read qemu, revert -Oz, no -j ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

15 build-static-portable-cmake.sh Real QEMU, revert -Oz, no -j ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

1st build-static-portable-cmake.sh ALL artifacts, keep -j, revert -Oz, ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines.yml

2nd build-static-portable-cmake.sh ALL artifacts, keep -j, revert -Oz, ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

3rd build-static-portable-cmake.sh ALL artifacts, keep -j, revert -Oz, ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines.yml

4th build-static-portable-cmake.sh ALL artifacts, keep -j, revert -Oz, ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

build-static-portable-cmake.sh: deploy github releases ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-Disk-Benchmarks.yml: any of: build-tools/Azure-Pipelines-Disk-Benchmark.sh
  azure-pipelines-build-cmake.yml: any of: build-tools
  azure-pipelines-build-tools.yml: any of: build-tools
  azure-pipelines-enumerate-gcc.yml: any of: build-tools
  azure-pipelines-prepare-proot.yml: any of: build-tools/Prepare-proot.sh
  azure-pipelines.yml: any of: *, but not: build-tools, azure-pipelines-build-tools.yml
