Repository devizer/azure-pipelines-agent-in-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-Disk-Benchmarks.yml, azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-docker-images.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-Disk-Benchmarks.yml: any of: build-tools/Azure-Pipelines-Disk-Benchmark.sh
  azure-pipelines-build-cmake.yml: any of: build-tools
  azure-pipelines-build-curl.yml: any of: build-tools
  azure-pipelines-build-docker-images.yml: any of: build-tools/Prepare-proot.sh
  azure-pipelines-build-tools.yml: any of: build-tools
  azure-pipelines-enumerate-gcc.yml: any of: build-tools
  azure-pipelines-prepare-proot.yml: any of: build-tools/Prepare-proot.sh
  azure-pipelines-static-portable-cmake.yml: any of: build-tools
  azure-pipelines.yml: any of: *, but not: build-tools, azure-pipelines-build-tools.yml

added raspbian armv6 wheezy ***NO_CI*** source build-gcc-utilities.sh
  build-tools/Prepare-Docker-Images.sh
  build-tools/Raspbian-Images/Dockerfile
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

added raspbian armv6 wheezy ***NO_CI*** push
  azure-pipelines-build-docker-images.yml
Due: azure-pipelines.yml

added raspbian armv6 wheezy ***NO_CI*** test
  azure-pipelines-build-docker-images.yml
Due: azure-pipelines.yml

added raspbian armv6 wheezy ***NO_CI*** cmd
  build-tools/Raspbian-Images/Dockerfile
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

azure-pipelines-build-cmake.yml: added arm32v6 rc1 ***NOCI***
  azure-pipelines-build-cmake.yml
Due: azure-pipelines.yml

Build Tools: Added armv6 ***NO_CI***
  azure-pipelines-build-tools.yml
Due: none

Build Tools: Added armv6 ***NO_CI*** rc1
  build-tools/Build-Tools.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

Build Tools: Added armv6 ***NO_CI*** rc2
  build-tools/Build-Tools.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

Build Tools: Added armv6 ***NO_CI*** rc3
  build-tools/install-jq-1.6.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

build cmake: bump up version to 3.23.2
  azure-pipelines-build-cmake.yml
Due: azure-pipelines.yml

build cmake: bump up version to 3.23.2 ***NO_CI***
  azure-pipelines-build-cmake.yml
Due: azure-pipelines.yml

build curl: armv6 ***NO_CI***
  azure-pipelines-build-curl.yml
  build-tools/build-cmake.sh
  build-tools/build-curl.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

build-curl: bump up to 7.84 ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

mono: armv6 ***NO_CI***
  azure-pipelines-build-curl.yml
  azure-pipelines-build-mono.yml
  build-tools/build-mono.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

mono: armv6 ***NO_CI*** rc1
  azure-pipelines-build-mono.yml
Due: azure-pipelines.yml

mono: 6.12.0.122 armv6 ***NO_CI***
  build-tools/build-mono.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

azure-pipelines-postgres-lab.yml rc1 ***NO_CI***
  azure-pipelines-postgres-lab.yml
Due: azure-pipelines.yml

azure-pipelines-postgres-lab.yml rc2 ***NO_CI***
  azure-pipelines-postgres-lab.yml
Due: azure-pipelines.yml

azure-pipelines-postgres-lab.yml rc3 ***NO_CI***
  azure-pipelines-postgres-lab.yml
Due: azure-pipelines.yml

azure-pipelines-postgres-lab.yml rc4 ***NO_CI***
  azure-pipelines-postgres-lab.yml
Due: azure-pipelines.yml

azure-pipelines-postgres-lab.yml rc5 ***NO_CI***
  azure-pipelines-postgres-lab.yml
Due: azure-pipelines.yml

azure-pipelines-postgres-lab.yml rc6 ***NO_CI***
  azure-pipelines-postgres-lab.yml
Due: azure-pipelines.yml

azure-pipelines-postgres-lab.yml rc7 ***NO_CI***
  azure-pipelines-postgres-lab.yml
Due: azure-pipelines.yml

azure-pipelines-postgres-lab.yml rc8 ***NO_CI***
  azure-pipelines-postgres-lab.yml
Due: azure-pipelines.yml

azure-pipelines-postgres-lab.yml rc9 ***NO_CI***
  azure-pipelines-postgres-lab.yml
Due: azure-pipelines.yml

azure-pipelines-postgres-lab.yml rc10 ***NO_CI***
  azure-pipelines-postgres-lab.yml
Due: azure-pipelines.yml

azure-pipelines-postgres-lab.yml rc11 ***NO_CI***
  azure-pipelines-postgres-lab.yml
Due: azure-pipelines.yml

azure-pipelines-postgres-lab.yml rc12 ***NO_CI***
  azure-pipelines-postgres-lab.yml
Due: azure-pipelines.yml

azure-pipelines-postgres-lab.yml rc13 ***NO_CI***
  azure-pipelines-postgres-lab.yml
Due: azure-pipelines.yml

azure-pipelines-postgres-lab.yml rc14 ***NO_CI***
  azure-pipelines-postgres-lab.yml
Due: azure-pipelines.yml

azure-pipelines-postgres-lab.yml rc15 ***NO_CI***
  azure-pipelines-postgres-lab.yml
Due: azure-pipelines.yml

azure-pipelines-postgres-lab.yml rc16 ***NO_CI***
  azure-pipelines-postgres-lab.yml
Due: azure-pipelines.yml

azure-pipelines-postgres-lab.yml rc17 ***NO_CI***
  azure-pipelines-postgres-lab.yml
Due: azure-pipelines.yml

azure-pipelines-postgres-lab.yml rc18 ***NO_CI***
  azure-pipelines-postgres-lab.yml
Due: azure-pipelines.yml

azure-pipelines-postgres-lab.yml rc19 ***NO_CI***
  azure-pipelines-postgres-lab.yml
Due: azure-pipelines.yml

azure-pipelines-postgres-lab.yml rc20 ***NO_CI***
  azure-pipelines-postgres-lab.yml
Due: azure-pipelines.yml

azure-pipelines-postgres-lab.yml rc21 ***NO_CI***
  azure-pipelines-postgres-lab.yml
Due: azure-pipelines.yml

azure-pipelines-postgres-lab.yml rc22 ***NO_CI***
  azure-pipelines-postgres-lab.yml
Due: azure-pipelines.yml
