Repository devizer/azure-pipelines-agent-in-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-Disk-Benchmarks.yml, azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-Disk-Benchmarks.yml: any of: build-tools/Azure-Pipelines-Disk-Benchmark.sh
  azure-pipelines-build-cmake.yml: any of: build-tools
  azure-pipelines-build-curl.yml: any of: build-tools
  azure-pipelines-build-tools.yml: any of: build-tools
  azure-pipelines-enumerate-gcc.yml: any of: build-tools
  azure-pipelines-prepare-proot.yml: any of: build-tools/Prepare-proot.sh
  azure-pipelines-static-portable-cmake.yml: any of: build-tools
  azure-pipelines.yml: any of: *, but not: build-tools, azure-pipelines-build-tools.yml

build-static-portable-cmake.sh: deploy github releases ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

build-static-portable-cmake.sh: deploy github releases ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

V2 build-static-portable-cmake.sh: deploy github releases ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

V3 build-static-portable-cmake.sh: deploy github releases ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

V4 build-static-portable-cmake.sh: deploy github releases ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

V5 build-static-portable-cmake.sh: deploy github releases ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

V6 build-static-portable-cmake.sh: deploy github releases ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

V7 build-static-portable-cmake.sh: deploy github releases ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

V8 build-static-portable-cmake.sh: deploy github releases ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

V9 build-static-portable-cmake.sh: deploy github releases ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

V10 build-static-portable-cmake.sh: deploy github releases ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

V11 build-static-portable-cmake.sh: deploy github releases ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

termux images: added yq ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-static-portable-cmake.yml

build-static-portable-cmake.sh: 8 archs ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

2nd build-static-portable-cmake.sh: 8 archs ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

build-static-portable-cmake.sh: hash sums ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

2nd build-static-portable-cmake.sh: hash sums ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

3rd build-static-portable-cmake.sh: 8 archs ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

build-static-portable-cmake.sh: armv6 is armv5 ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

2nd build-static-portable-cmake.sh: armv6 is armv5 ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

build-static-portable-cmake.sh: muted armv5 ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

build-static-portable-cmake.sh: muted armv5 ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

prepare-proot: reset file dates ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-static-portable-cmake.yml

2nd prepare-proot: reset file dates ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-static-portable-cmake.yml

static-portable-cmake: added armv5 ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

2nd static-portable-cmake: added armv5 ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

3rd static-portable-cmake: added armv5 ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

4th static-portable-cmake: added armv5 ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

5th static-portable-cmake: added armv5 ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

6th static-portable-cmake: added armv5 ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

proot arm32v5 ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-static-portable-cmake.yml

2 proot arm32v5 ***NO_CI***
  azure-pipelines-prepare-proot.yml
Due: azure-pipelines.yml

3 proot arm32v5 ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-static-portable-cmake.yml
