Repository devizer/azure-pipelines-agent-in-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-Disk-Benchmarks.yml, azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-docker-images.yml, azure-pipelines-build-tools.yml, azure-pipelines-cache-nuget.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-pg-check-lab.yml, azure-pipelines-postgres-lab.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

azure-pipelines-Disk-Benchmarks.yml:
  jobs:
  - job: BENCHMARK
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    steps:
    - script: 'cd build-tools
  
        source Azure-Pipelines-Disk-Benchmarks.sh
  
        '
      displayName: Lets Rock
    - task: PublishBuildArtifacts@1
      condition: succeededOrFailed()
      displayName: Publish
  ...

azure-pipelines-build-cmake.yml:
  jobs:
  - job: cmake
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      matrix:
        arm32v6:
          IMAGE: devizervlad/raspbian:raspberry-wheezy
          SKIP_NINJA_TESTS: 'True'
          MACHINE: arm32v6
          GCCVER: '11.2'
          GCC_INSTALL_ARCH: armv6
        arm32v5:
  ...

azure-pipelines-build-curl.yml:
  jobs:
  - job: curl
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      matrix:
        x86-64:
          IMAGE: debian:7
        arm32v7:
          IMAGE: arm32v7/debian:7
        arm64v8:
          IMAGE: arm64v8/debian:8
    steps:
  ...

azure-pipelines-build-docker-images.yml:
  jobs:
  - job: Prepare
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      matrix:
        ARMv6-wheezy:
          PREPARE_OS_MODE: BIG
          IMAGE_URL: https://downloads.raspberrypi.org/raspbian/images/raspbian-2015-05-07/2015-05-05-raspbian-wheezy.zip
  ...

azure-pipelines-build-tools.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      matrix:
        arm32v5:
          IMAGE: arm32v5/debian:7
          KEY: arm32v5
        arm32v7:
          IMAGE: arm32v7/debian:7
          KEY: arm32v7
        arm64v8:
          IMAGE: arm64v8/debian:8
  ...

azure-pipelines-cache-nuget.yml:
  jobs:
  - job: BuildCache
    pool:
      vmImage: $(IMAGE)
    timeoutInMinutes: 66
    strategy:
      maxParallel: 6
      matrix:
        On Mac OS:
          IMAGE: macos-12
          SUFFIX: Darwin
        On Windows 2022:
          IMAGE: windows-2022
          SUFFIX: Windows
        On Ubuntu 22.04:
  ...

azure-pipelines-enumerate-gcc.yml:
  jobs:
  - job: Enum
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    steps:
    - script: 'set -e
  
        cd build-tools
  
        sudo bash -c "export SYSTEM_ARTIFACTSDIRECTORY=$SYSTEM_ARTIFACTSDIRECTORY; bash -eu Enumerate-GCC.sh"
  
        sudo chown -R $(whoami) $SYSTEM_ARTIFACTSDIRECTORY
  
  ...

azure-pipelines-pg-check-lab.yml:
  jobs:
  - job: PG
    displayName: PG
    pool:
      vmImage: $(VM)
    timeoutInMinutes: 30
    strategy:
      matrix:
        V16 (Devel):
          VM: ubuntu-20.04
          PGVERSION: 16
        V15 (Beta):
          VM: ubuntu-20.04
          PGVERSION: 15
        V14:
          VM: ubuntu-20.04
          PGVERSION: 14
  ...

cache nuget, fix no-restore 5th ***NO_CI***
  azure-pipelines-cache-nuget.yml
Due: azure-pipelines.yml

cache nuget, combined ***NO_CI***
  azure-pipelines-cache-nuget.yml
Due: azure-pipelines.yml

cache nuget, combined 2nd ***NO_CI***
  azure-pipelines-cache-nuget.yml
Due: azure-pipelines.yml

cache nuget, combined 3rd ***NO_CI***
  azure-pipelines-cache-nuget.yml
Due: azure-pipelines.yml

cache nuget, combined 3rd LEVEL=9 ***NO_CI***
  azure-pipelines-cache-nuget.yml
Due: azure-pipelines.yml

cache nuget, combined 4rd LEVEL=9 ***NO_CI***
  azure-pipelines-cache-nuget.yml
Due: azure-pipelines.yml

cache nuget, combined 5th LEVEL=9 ***NO_CI***
  azure-pipelines-cache-nuget.yml
Due: azure-pipelines.yml

public combined artifact, level=1 ***NO_CI***
  azure-pipelines-cache-nuget.yml
Due: azure-pipelines.yml

public combined artifact, level=9 ***NO_CI***
  azure-pipelines-cache-nuget.yml
Due: azure-pipelines.yml

public combined artifact v2, level=9 ***NO_CI***
  azure-pipelines-cache-nuget.yml
Due: azure-pipelines.yml

fetch mono fonts ***NO_CI***
  azure-pipelines-fetch-mono-fonts.yml
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

fetch mono fonts ***NO_CI***
  azure-pipelines-fetch-mono-fonts.yml
Due: azure-pipelines.yml

fetch mono fonts ***NO_CI***
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

fetch mono fonts v2 ***NO_CI***
  azure-pipelines-fetch-mono-fonts.yml
Due: azure-pipelines.yml

fetch mono fonts v3 ***NO_CI***
  azure-pipelines-fetch-mono-fonts.yml
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

fetch mono fonts v4 ***NO_CI***
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

fetch mono fonts v5 ***NO_CI***
  azure-pipelines-fetch-mono-fonts.yml
Due: azure-pipelines.yml

fetch mono fonts v6 ***NO_CI***
  azure-pipelines-fetch-mono-fonts.yml
Due: azure-pipelines.yml

fetch mono fonts v7 ***NO_CI***
  azure-pipelines-fetch-mono-fonts.yml
Due: azure-pipelines.yml

fetch mono fonts v8 ***NO_CI***
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

fetch mono fonts v9 ***NO_CI***
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

fetch mono fonts v10 ***NO_CI***
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

fetch mono fonts v11 ***NO_CI***
  azure-pipelines-fetch-mono-fonts.yml
Due: azure-pipelines.yml

fetch mono fonts v12 ***NO_CI***
  azure-pipelines-fetch-mono-fonts.yml
Due: azure-pipelines.yml

fetch mono fonts vLast ***NO_CI***
  azure-pipelines-fetch-mono-fonts.yml
Due: azure-pipelines.yml

fetch mono fonts vLast ***NO_CI***
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

fetch mono fonts vLast again ***NO_CI***
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

fetch mono fonts last ***NO_CI***
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

test raid ***NO_CI***
  azure-pipelines-test-raid.yml
Due: azure-pipelines.yml

Test raid 2 ***NO_CI***
  azure-pipelines-test-raid.yml
Due: azure-pipelines.yml

Test raid 3 ***NO_CI***
  azure-pipelines-test-raid.yml
Due: azure-pipelines.yml

Test raid 4 ***NO_CI***
  azure-pipelines-test-raid.yml
Due: azure-pipelines.yml

Test raid 5 ***NO_CI***
  azure-pipelines-test-raid.yml
Due: azure-pipelines.yml

Test raid 6 ***NO_CI***
  azure-pipelines-test-raid.yml
Due: azure-pipelines.yml

Test raid 7 ***NO_CI***
  azure-pipelines-test-raid.yml
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-Disk-Benchmarks.yml: any of: build-tools/Azure-Pipelines-Disk-Benchmark.sh
  azure-pipelines-build-cmake.yml: any of: build-tools
  azure-pipelines-build-curl.yml: any of: build-tools
  azure-pipelines-build-docker-images.yml: any of: build-tools/Prepare-proot.sh
  azure-pipelines-build-tools.yml: any of: build-tools
  azure-pipelines-cache-nuget.yml: any of: azure-pipelines-cache-nuget.yml, but not: *
  azure-pipelines-enumerate-gcc.yml: any of: build-tools
  azure-pipelines-pg-check-lab.yml: any of: postgres-lab
  azure-pipelines-postgres-lab.yml: any of: postgres-lab
  azure-pipelines-prepare-proot.yml: any of: build-tools/Prepare-proot.sh
  azure-pipelines-static-portable-cmake.yml: any of: build-tools
  azure-pipelines.yml: any of: *, but not: build-tools, azure-pipelines-build-tools.yml
