Repository devizer/azure-pipelines-agent-in-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-Disk-Benchmarks.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines.yml

azure-pipelines-Disk-Benchmarks.yml:
  jobs:
  - job: BENCHMARK
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    steps:
    - script: 'cd build-tools
  
        source Azure-Pipelines-Disk-Benchmarks.sh
  
        '
      displayName: Lets Rock
    - task: PublishBuildArtifacts@1
      condition: succeededOrFailed()
      displayName: Publish
  ...

azure-pipelines-build-tools.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    steps:
    - script: 'cd build-tools
  
        bash -e Build-and-Deploy-Git.sh
  
        '
      displayName: build
    - task: PublishBuildArtifacts@1
      condition: succeededOrFailed()
      displayName: Publish
      inputs:
  ...

azure-pipelines-enumerate-gcc.yml:
  jobs:
  - job: Enum
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    steps:
    - script: 'set -e
  
        cd build-tools
  
        sudo bash -c "export SYSTEM_ARTIFACTSDIRECTORY=$SYSTEM_ARTIFACTSDIRECTORY; bash -eu Enumerate-GCC.sh"
  
        sudo chown -R $(whoami) $SYSTEM_ARTIFACTSDIRECTORY
  
  ...

azure-pipelines-prepare-proot.yml:
  jobs:
  - job: Prepare
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      matrix:
        FULL:
          PREPARE_OS_MODE: BIG
          XZ: ''
        MICRO:
          PREPARE_OS_MODE: MICRO
          XZ: -micro
    steps:
    - script: 'set -e
  
        cd build-tools
  
  ...

azure-pipelines.yml:
  jobs:
  - job: Build
    strategy:
      maxParallel: 5
      matrix:
        Jessie 8:
          TAGS: -t devizervlad/crossplatform-azure-pipelines-agent:jessie
          TAG: jessie
          BASE_IMAGE: debian:jessie
        Stretch 9:
          TAGS: -t devizervlad/crossplatform-azure-pipelines-agent:stretch
  ...

10 build tools for prev debian, bom, sudo make install ***NO_CI***
  build-tools/install-the-gnu-tools.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

11 build tools for prev debian, separated gnu and 7z, bom, sudo make install ***NO_CI***
  build-tools/Build-and-Deploy-Git.sh
  build-tools/install-7zip-16.02-2016-05-21.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

12 build tools for prev debian, separated gnu and 7z, bom, sudo make install ***NO_CI***
  build-tools/Build-and-Deploy-Git.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

13 build tools for prev debian, separated gnu and 7z, bom, sudo make install ***NO_CI***
  build-tools/install-the-gnu-tools.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

4rd build tools: added gawk and grep and strip them, build cmake ***NO_CI***
  build-tools/build-cmake.sh
  build-tools/install-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

cmake 3.22.2 ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

cmake on azure pipelines ***NO_CI***
  azure-pipelines-build-tools.yml
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

cmake 2 on azure pipelines ***NO_CI***
  azure-pipelines-build-tools.yml
Due: none

cmake 3 on azure pipelines ***NO_CI***
  azure-pipelines-build-tools.yml
Due: none

cmake 4 on azure pipelines ***NO_CI***
  azure-pipelines-build-tools.yml
Due: none

cmake 5 on azure pipelines ***NO_CI***
  azure-pipelines-build-tools.yml
Due: none

cmake aarch64 7 on azure pipelines ***NO_CI***
  azure-pipelines-build-tools.yml
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

Set up cmake CI ***NO_CI***
  azure-pipelines-build-cmake.yml
Due: azure-pipelines.yml

cmake aarch64 8 on azure pipelines ***NO_CI***
  azure-pipelines-build-cmake.yml
Due: azure-pipelines.yml

cmake aarch64 9 on azure pipelines ***NO_CI***
  azure-pipelines-build-cmake.yml
Due: azure-pipelines.yml

cmake aarch64 10 on azure pipelines ***NO_CI***
  azure-pipelines-build-cmake.yml
Due: azure-pipelines.yml

cmake aarch64 11 on azure pipelines ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

cmake aarch64 13, added logs ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

cmake aarch64 14, added bootstrap options for arm64 ***NO_CI***
  azure-pipelines-build-cmake.yml
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines.yml

cmake aarch64 15, added bootstrap options for arm64 ***NO_CI***
  azure-pipelines-build-cmake.yml
Due: azure-pipelines.yml

cmake aarch64 16, added bootstrap options for arm64 ***NO_CI***
  azure-pipelines-build-cmake.yml
Due: azure-pipelines.yml

cmake aarch64 17, added bootstrap options for arm64 ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

cmake aarch64 18, added bootstrap options for arm64 ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

cmake aarch64 19, added bootstrap options for arm64 ***NO_CI***
  azure-pipelines-build-cmake.yml
Due: azure-pipelines.yml

cmake aarch64 20, added bootstrap options for arm64, ubuntu 18 ***NO_CI***
  azure-pipelines-build-cmake.yml
Due: azure-pipelines.yml

cmake aarch64 20, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  azure-pipelines-build-cmake.yml
Due: azure-pipelines.yml

cmake aarch64 21, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

cmake aarch64 22, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

cmake aarch64 23, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

cmake aarch64 24, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

cmake aarch64 25, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  azure-pipelines-build-cmake.yml
Due: azure-pipelines.yml

cmake aarch64 26, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

cmake aarch64 27, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

cmake aarch64 28, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  azure-pipelines-build-cmake.yml
Due: azure-pipelines.yml

cmake aarch64 29, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  azure-pipelines-build-cmake.yml
Due: azure-pipelines.yml

cmake aarch64 30, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

cmake aarch64 31, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

cmake aarch64 32, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

cmake aarch64 33, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

Path conditions:
  azure-pipelines-Disk-Benchmarks.yml: any of: build-tools/Azure-Pipelines-Disk-Benchmark.sh
  azure-pipelines-build-tools.yml: any of: build-tools
  azure-pipelines-enumerate-gcc.yml: any of: build-tools
  azure-pipelines-prepare-proot.yml: any of: build-tools/Prepare-proot.sh
  azure-pipelines.yml: any of: *, but not: build-tools, azure-pipelines-build-tools.yml
