Repository devizer/azure-pipelines-agent-in-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-Disk-Benchmarks.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines.yml

azure-pipelines-Disk-Benchmarks.yml:
  jobs:
  - job: BENCHMARK
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    steps:
    - script: 'cd build-tools
  
        source Azure-Pipelines-Disk-Benchmarks.sh
  
        '
      displayName: Lets Rock
    - task: PublishBuildArtifacts@1
      condition: succeededOrFailed()
      displayName: Publish
  ...

azure-pipelines-build-tools.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    steps:
    - script: 'cd build-tools
  
        bash -e Build-and-Deploy-Git.sh
  
        '
      displayName: build
    - task: PublishBuildArtifacts@1
      condition: succeededOrFailed()
      displayName: Publish
      inputs:
  ...

azure-pipelines-enumerate-gcc.yml:
  jobs:
  - job: Enum
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    steps:
    - script: 'set -e
  
        cd build-tools
  
        sudo bash -c "export SYSTEM_ARTIFACTSDIRECTORY=$SYSTEM_ARTIFACTSDIRECTORY; bash -eu Enumerate-GCC.sh"
  
        sudo chown -R $(whoami) $SYSTEM_ARTIFACTSDIRECTORY
  
  ...

azure-pipelines-prepare-proot.yml:
  jobs:
  - job: Prepare
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      matrix:
        FULL:
          PREPARE_OS_MODE: BIG
          XZ: ''
        MICRO:
          PREPARE_OS_MODE: MICRO
          XZ: -micro
    steps:
    - script: 'set -e
  
        cd build-tools
  
  ...

azure-pipelines.yml:
  jobs:
  - job: Build
    strategy:
      maxParallel: 5
      matrix:
        Jessie 8:
          TAGS: -t devizervlad/crossplatform-azure-pipelines-agent:jessie
          TAG: jessie
          BASE_IMAGE: debian:jessie
        Stretch 9:
          TAGS: -t devizervlad/crossplatform-azure-pipelines-agent:stretch
  ...

cmake aarch64 34, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  azure-pipelines-build-cmake.yml
Due: azure-pipelines.yml

cmake aarch64 rc-18.04, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

cmake aarch64 rc-20.04, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  azure-pipelines-build-cmake.yml
Due: azure-pipelines.yml

cmake aarch64 20.04, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  azure-pipelines-build-cmake.yml
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines.yml

cmake aarch64 20.04, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  azure-pipelines-build-cmake.yml
Due: azure-pipelines.yml

2nd cmake aarch64 20.04, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

3rd cmake aarch64 20.04, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

4th cmake aarch64 20.04, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

6th cmake aarch64 20.04, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  azure-pipelines-build-cmake.yml
Due: azure-pipelines.yml

7th cmake aarch64 20.04, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

8th cmake aarch64 20.04, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

9th cmake aarch64 20.04, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

10th cmake aarch64 20.04, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

11th cmake aarch64 20.04, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

12th cmake aarch64 20.04, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

13th cmake aarch64 20.04, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

14th cmake aarch64 20.04, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

15th cmake aarch64 20.04, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

16th cmake aarch64 20.04, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

17th cmake aarch64 20.04, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

rc1 cmake aarch64 20.04, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

rc2 cmake aarch64 20.04, ldconfig before build, added bootstrap options for arm64, ubuntu 18, fixed utils ***NO_CI***
  azure-pipelines-build-cmake.yml
Due: azure-pipelines.yml

added cmake for proot distros ***NO_CI***
  build-tools/Prepare-proot.sh
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

added and gnu-tools cmake for proot distros ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml

added ninja for build-cmake ***NO_CI***
  azure-pipelines-build-cmake.yml
  build-tools/build-cmake.sh
  build-tools/build-ninja.sh
  build-tools/install-yq.sh
  build-tools/repack-yq.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines.yml

2nd added ninja for build-cmake ***NO_CI***
  azure-pipelines-build-cmake.yml
Due: azure-pipelines.yml

3rd added ninja for build-cmake ***NO_CI***
  azure-pipelines-build-cmake.yml
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines.yml

4th added ninja for build-cmake ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

5th added ninja for build-cmake ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

6th added ninja for build-cmake ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

7th added ninja for build-cmake ***NO_CI***
  azure-pipelines-build-cmake.yml
  build-tools/build-ninja.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines.yml

added curl ***NO_CI***
  azure-pipelines-build-curl.yml
Due: azure-pipelines.yml

added build-curl.sh ***NO_CI***
  build-tools/build-cmake.sh
  build-tools/build-curl.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

2nd build-curl.sh ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

3rd build-curl.sh ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

4th build-curl.sh ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

5th build-curl.sh ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

6th build-curl.sh ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

7th build-curl.sh ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

8th build-curl.sh, added libssh2 ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml

Path conditions:
  azure-pipelines-Disk-Benchmarks.yml: any of: build-tools/Azure-Pipelines-Disk-Benchmark.sh
  azure-pipelines-build-tools.yml: any of: build-tools
  azure-pipelines-enumerate-gcc.yml: any of: build-tools
  azure-pipelines-prepare-proot.yml: any of: build-tools/Prepare-proot.sh
  azure-pipelines.yml: any of: *, but not: build-tools, azure-pipelines-build-tools.yml
