Repository devizer/azure-pipelines-agent-in-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-Disk-Benchmarks.yml, azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-docker-images.yml, azure-pipelines-build-kernel.yml, azure-pipelines-build-tools.yml, azure-pipelines-cache-nuget.yml, azure-pipelines-cloud-init.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-fetch-mono-fonts.yml, azure-pipelines-pg-check-lab.yml, azure-pipelines-postgres-lab.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-sqlserver-image.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines-test-cloud-images.yml, azure-pipelines-test-raid.yml, azure-pipelines.yml

azure-pipelines-Disk-Benchmarks.yml:
  jobs:
  - job: BENCHMARK
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    steps:
    - script: 'cd build-tools
  
        source Azure-Pipelines-Disk-Benchmarks.sh
  
        '
      displayName: Lets Rock
    - task: PublishBuildArtifacts@1
      condition: succeededOrFailed()
      displayName: Publish
  ...

azure-pipelines-build-cmake.yml:
  jobs:
  - job: cmake
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      matrix:
        arm32v6:
          IMAGE: devizervlad/raspbian:raspberry-wheezy
          SKIP_NINJA_TESTS: 'True'
          MACHINE: arm32v6
          GCCVER: '11.2'
          GCC_INSTALL_ARCH: armv6
        arm32v5:
  ...

azure-pipelines-build-curl.yml:
  jobs:
  - job: curl
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      matrix:
        x86-64:
          IMAGE: debian:7
        arm32v7:
          IMAGE: arm32v7/debian:7
        arm64v8:
          IMAGE: arm64v8/debian:8
    steps:
  ...

azure-pipelines-build-docker-images.yml:
  jobs:
  - job: Prepare
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      matrix:
        ARMv6-wheezy:
          PREPARE_OS_MODE: BIG
          IMAGE_URL: https://downloads.raspberrypi.org/raspbian/images/raspbian-2015-05-07/2015-05-05-raspbian-wheezy.zip
  ...

azure-pipelines-build-kernel.yml:
  jobs:
  - job: Kernel
    pool:
      vmImage: ubuntu-22.04
    timeoutInMinutes: 120
    strategy:
      maxParallel: 8
      matrix:
        4.19.310:
          KERNEL_URL: https://cdn.kernel.org/pub/linux/kernel/v4.x/linux-4.19.310.tar.xz
        5.4.272:
  ...

azure-pipelines-build-tools.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      matrix:
        arm32v5:
          IMAGE: arm32v5/debian:7
          KEY: arm32v5
        arm32v7:
          IMAGE: arm32v7/debian:7
          KEY: arm32v7
        arm64v8:
          IMAGE: arm64v8/debian:8
  ...

azure-pipelines-cache-nuget.yml:
  jobs:
  - job: BuildCache
    pool:
      vmImage: $(IMAGE)
    timeoutInMinutes: 66
    strategy:
      maxParallel: 6
      matrix:
        On Mac OS:
          IMAGE: macos-12
          SUFFIX: Darwin
        On Windows 2022:
          IMAGE: windows-2022
          SUFFIX: Windows
        On Ubuntu 22.04:
  ...

azure-pipelines-cloud-init.yml:
  jobs:
  - job: Image
    pool:
      vmImage: ubuntu-22.04
    timeoutInMinutes: 120
    strategy:
      maxParallel: 8
      matrix:
        armhf-debian-8:
          IMAGEURL: https://sourceforge.net/projects/debian-armhf-cloud-images/files/debian-8-genericcloud-armhf.qcow2.xz/download
          KEY: 8-generic-armhf
  ...

Tuned MSSQL Docker Image ***NO_CI***
  SQL-Server-1Gb-RAM-Docker-Image/azure-pipelines.yml
Due: azure-pipelines.yml

Max Compression, Tuned MSSQL Docker Image ***NO_CI***
  SQL-Server-1Gb-RAM-Docker-Image/azure-pipelines.yml
Due: azure-pipelines.yml

Docker push, Max Compression, Tuned MSSQL Docker Image ***NO_CI***
  SQL-Server-1Gb-RAM-Docker-Image/azure-pipelines.yml
Due: azure-pipelines.yml

Conditional, Docker push, Max Compression, Tuned MSSQL Docker Image ***NO_CI***
  SQL-Server-1Gb-RAM-Docker-Image/Docker/Dockerfile
  SQL-Server-1Gb-RAM-Docker-Image/Docker/start-mssql.sh
  SQL-Server-1Gb-RAM-Docker-Image/Docker/wrapper.c
Due: azure-pipelines.yml

brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  azure-pipelines-fetch-mono-fonts.yml
Due: azure-pipelines.yml

2nd brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  .gitignore
  azure-pipelines-fetch-mono-fonts.yml
Due: azure-pipelines.yml

3rd brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  azure-pipelines-fetch-mono-fonts.yml
Due: azure-pipelines.yml

4th brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  azure-pipelines-fetch-mono-fonts.yml
Due: azure-pipelines.yml

5th brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  azure-pipelines-fetch-mono-fonts.yml
Due: azure-pipelines.yml

6th brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  azure-pipelines-fetch-mono-fonts.yml
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

7th brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  azure-pipelines-fetch-mono-fonts.yml
Due: azure-pipelines.yml

8th brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

9th brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  azure-pipelines-fetch-mono-fonts.yml
Due: azure-pipelines.yml

10th brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  azure-pipelines-fetch-mono-fonts.yml
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

11th otf|ttf, brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

12th otf|ttf, brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

14th, v25.10, otf|ttf, brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  azure-pipelines-fetch-mono-fonts.yml
Due: azure-pipelines.yml

15th, v25.10, otf|ttf, brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

16th, v25.10, otf|ttf, brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

17th, v25.10, otf|ttf, brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

18th, v25.10, otf|ttf, brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

19th, v25.10, otf|ttf, brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

21th, v25.10, otf|ttf, brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  azure-pipelines-fetch-mono-fonts.yml
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

22th, v25.10, otf|ttf, brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

23th, v25.10, otf|ttf, brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  azure-pipelines-fetch-mono-fonts.yml
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

24th, Combine, v25.10, otf|ttf, brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  azure-pipelines-fetch-mono-fonts.yml
Due: azure-pipelines.yml

26th, temp apt recommends, Combine, v25.10, otf|ttf, brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

27th, temp apt recommends, Combine, v25.10, otf|ttf, brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

28th, temp apt recommends, Combine, v25.10, otf|ttf, brush up azure-pipelines-fetch-mono-fonts.yml ***NO_CI***
  build-tools/build-fonts-in-container.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

Test Visual Studio ***NO_CI***
  azure-pipelines-test-visual-studio.yml
Due: azure-pipelines.yml

2nd Test Visual Studio ***NO_CI***
  azure-pipelines-test-visual-studio.yml
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-Disk-Benchmarks.yml: any of: build-tools/Azure-Pipelines-Disk-Benchmark.sh
  azure-pipelines-build-cmake.yml: any of: build-tools
  azure-pipelines-build-curl.yml: any of: build-tools
  azure-pipelines-build-docker-images.yml: any of: build-tools/Prepare-proot.sh
  azure-pipelines-build-kernel.yml: any of: cloud-init
  azure-pipelines-build-tools.yml: any of: build-tools
  azure-pipelines-cache-nuget.yml: any of: azure-pipelines-cache-nuget.yml, but not: *
  azure-pipelines-cloud-init.yml: any of: cloud-init
  azure-pipelines-enumerate-gcc.yml: any of: build-tools
  azure-pipelines-fetch-mono-fonts.yml: any of: azure-pipelines-fetch-mono-fonts.yml, build-tools/build-fonts-in-container.sh, but not: *
  azure-pipelines-pg-check-lab.yml: any of: postgres-lab
  azure-pipelines-postgres-lab.yml: any of: postgres-lab
  azure-pipelines-prepare-proot.yml: any of: build-tools/Prepare-proot.sh
  azure-pipelines-sqlserver-image.yml: any of: build-tools/Prepare-proot.sh
  azure-pipelines-static-portable-cmake.yml: any of: build-tools
  azure-pipelines-test-cloud-images.yml: any of: Cloud-Images
  azure-pipelines-test-raid.yml: any of: azure-pipelines-test-raid.yml, but not: *
  azure-pipelines.yml: any of: *, but not: build-tools, azure-pipelines-build-tools.yml
