Repository devizer/azure-pipelines-agent-in-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-Disk-Benchmarks.yml, azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

azure-pipelines-Disk-Benchmarks.yml:
  jobs:
  - job: BENCHMARK
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    steps:
    - script: 'cd build-tools
  
        source Azure-Pipelines-Disk-Benchmarks.sh
  
        '
      displayName: Lets Rock
    - task: PublishBuildArtifacts@1
      condition: succeededOrFailed()
      displayName: Publish
  ...

azure-pipelines-build-cmake.yml:
  jobs:
  - job: cmake
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      matrix:
        x86-64:
          IMAGE: debian:7
          EXPLICIT_OPENSSL_OPTIONS: 'True'
        arm32v7:
          IMAGE: arm32v7/debian:7
          EXPLICIT_OPENSSL_OPTIONS: 'True'
        arm64v8 GCC-11:
  ...

azure-pipelines-build-curl.yml:
  jobs:
  - job: curl
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      matrix:
        x86-64:
          IMAGE: debian:7
        arm32v7:
          IMAGE: arm32v7/debian:7
        arm64v8:
          IMAGE: arm64v8/debian:8
    steps:
  ...

azure-pipelines-build-tools.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    steps:
    - script: 'cd build-tools
  
        bash -e Build-and-Deploy-Git.sh
  
        '
      displayName: build
    - task: PublishBuildArtifacts@1
      condition: succeededOrFailed()
      displayName: Publish
      inputs:
  ...

azure-pipelines-enumerate-gcc.yml:
  jobs:
  - job: Enum
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    steps:
    - script: 'set -e
  
        cd build-tools
  
        sudo bash -c "export SYSTEM_ARTIFACTSDIRECTORY=$SYSTEM_ARTIFACTSDIRECTORY; bash -eu Enumerate-GCC.sh"
  
        sudo chown -R $(whoami) $SYSTEM_ARTIFACTSDIRECTORY
  
  ...

azure-pipelines-prepare-proot.yml:
  jobs:
  - job: Prepare
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      matrix:
        FULL:
          PREPARE_OS_MODE: BIG
          XZ: ''
        MICRO:
          PREPARE_OS_MODE: MICRO
          XZ: -micro
    steps:
    - script: 'set -e
  
        cd build-tools
  
  ...

azure-pipelines-static-portable-cmake.yml:
  jobs:
  - job: build_static_cmake
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      maxParallel: 10
      matrix:
        amd64:
          PLATFORM: amd64
        i386:
          PLATFORM: '386'
    steps:
  ...

azure-pipelines.yml:
  jobs:
  - job: Build
    strategy:
      maxParallel: 5
      matrix:
        Jessie 8:
          TAGS: -t devizervlad/crossplatform-azure-pipelines-agent:jessie
          TAG: jessie
          BASE_IMAGE: debian:jessie
        Stretch 9:
          TAGS: -t devizervlad/crossplatform-azure-pipelines-agent:stretch
  ...

4 proot arm32v5 ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-static-portable-cmake.yml

5 proot arm32v5 ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-static-portable-cmake.yml

deploy termux images, arm32v5 ***NO_CI***
  azure-pipelines-prepare-proot.yml
Due: azure-pipelines.yml

deploy termux images, arm32v5L ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-static-portable-cmake.yml

deploy termux images, 5*arm32v5L ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-static-portable-cmake.yml

2nd 5*arm32v5L ***NO_CI***
  build-tools/Prepare-proot.sh
  build-tools/install-the-gnu-tools.sh
  build-tools/install-xz.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-static-portable-cmake.yml

deploy termux images, 5*arm32v5L ***NO_CI***
  azure-pipelines-build-tools.yml
Due: none

gnu tools, 2nd 5*arm32v5L ***NO_CI***
  build-tools/install-the-gnu-tools.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

gnu tools --disabled-shared, 2nd 5*arm32v5L ***NO_CI***
  build-tools/install-the-gnu-tools.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

gnu tools --disable-shared, 5*arm32v5L ***NO_CI***
  azure-pipelines-build-tools.yml
Due: none

fix cmake ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

fix build-ninja.sh ***NO_CI***
  azure-pipelines-build-tools.yml
Due: none

2nd fix build-ninja.sh ***NO_CI***
  azure-pipelines-build-tools.yml
Due: none

gnu-tools (tar + archivers) ***NO_CI***
  build-tools/install-the-gnu-tools.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

gnu tools, ***NO_CI***
  build-tools/Build-and-Deploy-Git.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

gnu tools and git, ***NO_CI***
  build-tools/Build-and-Deploy-Git.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

2nd gnu tools and git, ***NO_CI***
  azure-pipelines-build-tools.yml
Due: none

3rd gnu tools and git (tar), ***NO_CI***
  build-tools/install-the-gnu-tools.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

4th gnu tools and git (tar), ***NO_CI***
  build-tools/install-the-gnu-tools.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

cmake i386 and armv5 ***NO_CI***
  azure-pipelines-build-tools.yml
Due: none

cmake i386 and armv5, explicit $machine ***NO_CI***
  azure-pipelines-build-tools.yml
  build-tools/build-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

cmake i386 and armv5, explicit $machine ***NO_CI***
  azure-pipelines-build-tools.yml
Due: none

2nd cmake i386 and armv5, explicit $machine ***NO_CI***
  build-tools/build-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

3rd cmake i386 and armv5, explicit $machine ***NO_CI***
  azure-pipelines-build-tools.yml
  build-tools/build-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

5th cmake i386 and armv5, explicit $machine ***NO_CI***
  azure-pipelines-build-tools.yml
Due: none

6th cmake i386 and armv5, explicit $machine ***NO_CI***
  azure-pipelines-build-tools.yml
Due: none

7 cmake i386 gcc11 and armv5, explicit $machine ***NO_CI***
  azure-pipelines-build-tools.yml
Due: none

8 cmake i386 gcc11 and armv5 gcc11, explicit $machine ***NO_CI***
  azure-pipelines-build-tools.yml
Due: none

armv5 termux images, explicit $machine ***NO_CI***
  azure-pipelines-prepare-proot.yml
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

2nd armv5 termux images, explicit $machine ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-static-portable-cmake.yml

3rd armv5 termux images, explicit $machine ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-static-portable-cmake.yml

curl arm32v5 ***NO_CI***
  azure-pipelines-build-curl.yml
  build-tools/build-curl.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

2nd curl arm32v5 (march) ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

3rd curl arm32v5 (march) ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

4th curl arm32v5 (march) ***NO_CI***
  build-tools/build-curl-temp.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

5th curl arm32v5 (march) ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

6th curl arm32v5 and i386 ***NO_CI***
  azure-pipelines-build-curl.yml
  build-tools/build-curl.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

7th curl arm32v5 and i386 ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

7th curl arm32v5 and i386 with libssh2 ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

2nd curl arm32v5 and i386 with libssh2 ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

Path conditions:
  azure-pipelines-Disk-Benchmarks.yml: any of: build-tools/Azure-Pipelines-Disk-Benchmark.sh
  azure-pipelines-build-cmake.yml: any of: build-tools
  azure-pipelines-build-curl.yml: any of: build-tools
  azure-pipelines-build-tools.yml: any of: build-tools
  azure-pipelines-enumerate-gcc.yml: any of: build-tools
  azure-pipelines-prepare-proot.yml: any of: build-tools/Prepare-proot.sh
  azure-pipelines-static-portable-cmake.yml: any of: build-tools
  azure-pipelines.yml: any of: *, but not: build-tools, azure-pipelines-build-tools.yml
