Repository devizer/azure-pipelines-agent-in-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-Disk-Benchmarks.yml, azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

azure-pipelines-Disk-Benchmarks.yml:
  jobs:
  - job: BENCHMARK
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    steps:
    - script: 'cd build-tools
  
        source Azure-Pipelines-Disk-Benchmarks.sh
  
        '
      displayName: Lets Rock
    - task: PublishBuildArtifacts@1
      condition: succeededOrFailed()
      displayName: Publish
  ...

azure-pipelines-build-cmake.yml:
  jobs:
  - job: cmake
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      matrix:
        x86-64:
          IMAGE: debian:7
          EXPLICIT_OPENSSL_OPTIONS: 'True'
        arm32v7:
          IMAGE: arm32v7/debian:7
          EXPLICIT_OPENSSL_OPTIONS: 'True'
        arm64v8 GCC-11:
  ...

azure-pipelines-build-curl.yml:
  jobs:
  - job: curl
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      matrix:
        x86-64:
          IMAGE: debian:7
        arm32v7:
          IMAGE: arm32v7/debian:7
        arm64v8:
          IMAGE: arm64v8/debian:8
    steps:
  ...

azure-pipelines-build-tools.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    steps:
  ...

azure-pipelines-enumerate-gcc.yml:
  jobs:
  - job: Enum
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    steps:
    - script: 'set -e
  
        cd build-tools
  
        sudo bash -c "export SYSTEM_ARTIFACTSDIRECTORY=$SYSTEM_ARTIFACTSDIRECTORY; bash -eu Enumerate-GCC.sh"
  
        sudo chown -R $(whoami) $SYSTEM_ARTIFACTSDIRECTORY
  
  ...

azure-pipelines-prepare-proot.yml:
  jobs:
  - job: Prepare
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      matrix:
        FULL:
          PREPARE_OS_MODE: BIG
          XZ: ''
        MICRO:
          PREPARE_OS_MODE: MICRO
          XZ: -micro
    steps:
    - script: 'sudo apt-get update -qq || true
  
  ...

azure-pipelines-static-portable-cmake.yml:
  jobs:
  - job: build_static_cmake
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      maxParallel: 10
      matrix:
        amd64:
          PLATFORM: amd64
        i386:
          PLATFORM: '386'
    steps:
  ...

azure-pipelines.yml:
  jobs:
  - job: Build
    strategy:
      maxParallel: 5
      matrix:
        Jessie 8:
          TAGS: -t devizervlad/crossplatform-azure-pipelines-agent:jessie
          TAG: jessie
          BASE_IMAGE: debian:jessie
        Stretch 9:
          TAGS: -t devizervlad/crossplatform-azure-pipelines-agent:stretch
  ...

proot: curl on armv5 ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-static-portable-cmake.yml

build-curl: 7.82.0 ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

2nd build-curl: 7.82.0 ***NO_CI***
  build-tools/build-curl.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

build-static-portable-cmake.sh : fake uname for arm32v5 ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

2nd build-static-portable-cmake.sh : fake uname for arm32v5 ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

3rd build-static-portable-cmake.sh 3.22.3: fake uname for arm32v5 ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
  build-tools/build-static-portable-cmake-temp.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

4th build-static-portable-cmake.sh 3.22.3: fake uname for arm32v5 ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

build-tools, fake uname ***NO_CI***
  build-tools/Build-and-Deploy-Git.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

separated build-tools and build-cmake ***NO_CI***
  azure-pipelines-build-cmake.yml
  azure-pipelines-build-cmake.yml (prev)
  azure-pipelines-build-tools.yml
Due: azure-pipelines.yml

separated build-tools ***NO_CI***
  azure-pipelines-build-tools.yml
  build-tools/Build-Tools.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

2nd separated build-tools ***NO_CI***
  build-tools/Build-Tools.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

3rd separated build-tools ***NO_CI***
  build-tools/Build-and-Deploy-Git.sh (AIO, Single Step)
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

4th separated build-tools ***NO_CI***
  azure-pipelines-build-tools.yml
Due: none

5th separated build-tools ***NO_CI***
  azure-pipelines-build-tools.yml
Due: none

build-cmake.sh: 3.22.3 ***NO_CI***
  azure-pipelines-build-cmake.yml
  build-tools/build-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

build-static-portable-cmake.sh: bump up build tools and libarchive ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

2nd build-static-portable-cmake.sh: bump up build tools and libarchive ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

3rd build-static-portable-cmake.sh: bump up build tools and libarchive ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

4th build-static-portable-cmake.sh: bump up build tools and libarchive ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

5th build-static-portable-cmake.sh: bump up build tools and libarchive ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

6th build-static-portable-cmake.sh: bump up build tools and libarchive ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

7th build-static-portable-cmake.sh: bump up build tools and libarchive ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

8th build-static-portable-cmake.sh: bump up build tools and libarchive ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

9th build-static-portable-cmake.sh: bump up build tools and libarchive ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

10th build-static-portable-cmake.sh: bump up build tools and libarchive ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

11th build-static-portable-cmake.sh: bump up build tools and libarchive ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

12 build-static-portable-cmake.sh: bump up build tools and libarchive ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

13 build-static-portable-cmake.sh: bump up build tools and libarchive ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

14 build-static-portable-cmake.sh: bump up build tools and libarchive ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

15 build-static-portable-cmake.sh: bump up build tools and libarchive ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

16 build-static-portable-cmake.sh: bump up build tools and libarchive ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

17 build-static-portable-cmake.sh: bump up build tools and libarchive ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

18 build-static-portable-cmake.sh: bump up build tools and libarchive ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

19 build-static-portable-cmake.sh: debian 10 ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

20 build-static-portable-cmake.sh: debian 10 ***NO_CI***
  build-tools/build-static-portable-cmake.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

added build-mono.sh ***NO_CI***
  azure-pipelines-build-mono.yml
Due: azure-pipelines.yml

build-mono.sh ***NO_CI***
  build-tools/build-mono.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

2nd build-mono.sh ***NO_CI***
  build-tools/build-mono.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

3rd build-mono.sh ***NO_CI***
  build-tools/build-mono.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

4th build-mono.sh ***NO_CI***
  build-tools/build-mono.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

Path conditions:
  azure-pipelines-Disk-Benchmarks.yml: any of: build-tools/Azure-Pipelines-Disk-Benchmark.sh
  azure-pipelines-build-cmake.yml: any of: build-tools
  azure-pipelines-build-curl.yml: any of: build-tools
  azure-pipelines-build-tools.yml: any of: build-tools
  azure-pipelines-enumerate-gcc.yml: any of: build-tools
  azure-pipelines-prepare-proot.yml: any of: build-tools/Prepare-proot.sh
  azure-pipelines-static-portable-cmake.yml: any of: build-tools
  azure-pipelines.yml: any of: *, but not: build-tools, azure-pipelines-build-tools.yml
