Repository devizer/azure-pipelines-agent-in-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-Disk-Benchmarks.yml, azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-docker-images.yml, azure-pipelines-build-tools.yml, azure-pipelines-cache-nuget.yml, azure-pipelines-cloud-init.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-fetch-mono-fonts.yml, azure-pipelines-pg-check-lab.yml, azure-pipelines-postgres-lab.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-sqlserver-image.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines-test-raid.yml, azure-pipelines.yml

azure-pipelines-Disk-Benchmarks.yml:
  jobs:
  - job: BENCHMARK
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    steps:
    - script: 'cd build-tools
  
        source Azure-Pipelines-Disk-Benchmarks.sh
  
        '
      displayName: Lets Rock
    - task: PublishBuildArtifacts@1
      condition: succeededOrFailed()
      displayName: Publish
  ...

azure-pipelines-build-cmake.yml:
  jobs:
  - job: cmake
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      matrix:
        arm32v6:
          IMAGE: devizervlad/raspbian:raspberry-wheezy
          SKIP_NINJA_TESTS: 'True'
          MACHINE: arm32v6
          GCCVER: '11.2'
          GCC_INSTALL_ARCH: armv6
        arm32v5:
  ...

azure-pipelines-build-curl.yml:
  jobs:
  - job: curl
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      matrix:
        x86-64:
          IMAGE: debian:7
        arm32v7:
          IMAGE: arm32v7/debian:7
        arm64v8:
          IMAGE: arm64v8/debian:8
    steps:
  ...

azure-pipelines-build-docker-images.yml:
  jobs:
  - job: Prepare
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      matrix:
        ARMv6-wheezy:
          PREPARE_OS_MODE: BIG
          IMAGE_URL: https://downloads.raspberrypi.org/raspbian/images/raspbian-2015-05-07/2015-05-05-raspbian-wheezy.zip
  ...

azure-pipelines-build-tools.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    strategy:
      matrix:
        arm32v5:
          IMAGE: arm32v5/debian:7
          KEY: arm32v5
        arm32v7:
          IMAGE: arm32v7/debian:7
          KEY: arm32v7
        arm64v8:
          IMAGE: arm64v8/debian:8
  ...

azure-pipelines-cache-nuget.yml:
  jobs:
  - job: BuildCache
    pool:
      vmImage: $(IMAGE)
    timeoutInMinutes: 66
    strategy:
      maxParallel: 6
      matrix:
        On Mac OS:
          IMAGE: macos-12
          SUFFIX: Darwin
        On Windows 2022:
          IMAGE: windows-2022
          SUFFIX: Windows
        On Ubuntu 22.04:
  ...

azure-pipelines-cloud-init.yml:
  jobs:
  - job: Image
    pool:
      vmImage: ubuntu-22.04
    timeoutInMinutes: 120
    strategy:
      matrix:
        armhf-debian-11:
          IMAGEURL: https://sourceforge.net/projects/debian-armhf-cloud-images/files/debian-11-genericcloud-armhf.qcow2.xz/download
          KEY: 11-generic-armhf
  ...

azure-pipelines-enumerate-gcc.yml:
  jobs:
  - job: Enum
    pool:
      vmImage: ubuntu-20.04
    timeoutInMinutes: 360
    steps:
    - script: 'set -e
  
        cd build-tools
  
        sudo bash -c "export SYSTEM_ARTIFACTSDIRECTORY=$SYSTEM_ARTIFACTSDIRECTORY; bash -eu Enumerate-GCC.sh"
  
        sudo chown -R $(whoami) $SYSTEM_ARTIFACTSDIRECTORY
  
  ...

20th Cloud Init: mute unattended upgrade2, +sshfs+sshpass+rsync, rerun support for publish ***NO_CI***
  cloud-init/VM-Initial-Provisioning.sh
Due: azure-pipelines-cloud-init.yml, azure-pipelines.yml

21th Cloud Init: mute unattended upgrade2, +sshfs+sshpass+rsync, rerun support for publish ***NO_CI***
  cloud-init/VM-Manager.sh
Due: azure-pipelines-cloud-init.yml, azure-pipelines.yml

21th Cloud Init: disable unattended upgrade on apt, mute unattended upgrade on finish, +sshfs+sshpass+rsync, rerun support for publish ***NO_CI***
  cloud-init/VM-Initial-Provisioning.sh
Due: azure-pipelines-cloud-init.yml, azure-pipelines.yml

22th Cloud Init: disable unattended upgrade on apt, mute unattended upgrade on finish, +sshfs+sshpass+rsync, rerun support for publish ***NO_CI***
  cloud-init/VM-Initial-Provisioning.sh
Due: azure-pipelines-cloud-init.yml, azure-pipelines.yml

7zz: version 21.07, 23.01 ***NO_CI***
  build-tools/install-7zz (direct from 7-zip.org).sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

23th Cloud Init: upgrade 7z, disable unattended upgrade on apt, mute unattended upgrade on finish, +sshfs+sshpass+rsync, rerun support for publish ***NO_CI***
  build-tools/install-7zz (direct from 7-zip.org).sh
  cloud-init/VM-Initial-Provisioning.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-cloud-init.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

24th Cloud Init: pass VM_VARIABLES, upgrade 7z, disable unattended upgrade on apt, mute unattended upgrade on finish, +sshfs+sshpass+rsync, rerun support for publish ***NO_CI***
  cloud-init/VM-Initial-Provisioning.sh
  cloud-init/VM-Manager.sh
Due: azure-pipelines-cloud-init.yml, azure-pipelines.yml

25th Cloud Init: pass VM_VARIABLES, upgrade 7z, disable unattended upgrade on apt, mute unattended upgrade on finish, +sshfs+sshpass+rsync, rerun support for publish ***NO_CI***
  cloud-init/VM-Manager.sh
Due: azure-pipelines-cloud-init.yml, azure-pipelines.yml

26th Cloud Init: 2nd pass VM_VARIABLES, upgrade 7z, disable unattended upgrade on apt, mute unattended upgrade on finish, +sshfs+sshpass+rsync, rerun support for publish ***NO_CI***
  cloud-init/VM-Manager.sh
Due: azure-pipelines-cloud-init.yml, azure-pipelines.yml

27th Cloud Init: fix restart ssh, 3nd pass VM_VARIABLES, upgrade 7z, disable unattended upgrade on apt, mute unattended upgrade on finish, +sshfs+sshpass+rsync, rerun support for publish ***NO_CI***
  cloud-init/VM-Manager.sh
Due: azure-pipelines-cloud-init.yml, azure-pipelines.yml

Test Cloud Images: Download All ***NO_CI***
  Cloud-Images/Download-CloudImage.sh
  Cloud-Images/Step-DownloadAll.sh
  azure-pipelines-test-cloud-images.yml
Due: azure-pipelines.yml

2nd Test Cloud Images: Download All ***NO_CI***
  Cloud-Images/Step-DownloadAll.sh
Due: azure-pipelines.yml

3rd Test Cloud Images: Download All ***NO_CI***
  Cloud-Images/Download-CloudImage.sh
Due: azure-pipelines.yml

4th Test Cloud Images: Download All ***NO_CI***
  Cloud-Images/Step-DownloadAll.sh
  azure-pipelines-test-cloud-images.yml
Due: azure-pipelines.yml

5th Test Cloud Images: Download All ***NO_CI***
  Cloud-Images/Step-DownloadAll.sh
Due: azure-pipelines.yml

6th Test Cloud Images: Download All ***NO_CI***
  Cloud-Images/Download-CloudImage.sh
Due: azure-pipelines.yml

7th Test Cloud Images: Download All ***NO_CI***
  Cloud-Images/Step-DownloadAll.sh
Due: azure-pipelines.yml

8th Test Cloud Images: Download All ***NO_CI***
  Cloud-Images/Step-DownloadAll.sh
Due: azure-pipelines.yml

Cloud init: armel v5, debian 10+11+12 armhf (skip resize), packages.txt in outcome ***NO_CI***
  Cloud-Images/Download-CloudImage.sh
  azure-pipelines-cloud-init.yml
  cloud-init/VM-Manager.sh
Due: azure-pipelines-cloud-init.yml, azure-pipelines.yml

2nd Cloud init: armel v5, debian 10+11+12 armhf (skip resize), packages.txt in outcome ***NO_CI***
  cloud-init/VM-Manager.sh
Due: azure-pipelines-cloud-init.yml, azure-pipelines.yml

3rd Cloud init: armel v5, debian 10+11+12 armhf (skip resize), packages.txt in outcome ***NO_CI***
  cloud-init/VM-Manager.sh
  cloud-init/test-armel.sh
Due: azure-pipelines-cloud-init.yml, azure-pipelines.yml

4th Cloud init: armel v5, debian 10+11+12 armhf (skip resize), packages.txt in outcome ***NO_CI***
  cloud-init/VM-Manager.sh
Due: azure-pipelines-cloud-init.yml, azure-pipelines.yml

5th Cloud init: armel v5, fix armel 7z, debian 10+11+12 armhf (skip resize), packages.txt in outcome ***NO_CI***
  cloud-init/VM-Initial-Provisioning.sh
Due: azure-pipelines-cloud-init.yml, azure-pipelines.yml

6th Cloud init: armel v5, fix armel 7z+libssl 1.1, debian 10+11+12 armhf (skip resize), packages.txt in outcome ***NO_CI***
  cloud-init/VM-Initial-Provisioning.sh
Due: azure-pipelines-cloud-init.yml, azure-pipelines.yml

7th Cloud init: armel v5: fix shutdown, armel 7z+libssl 1.1. ***NO_CI***
  cloud-init/VM-Manager.sh
Due: azure-pipelines-cloud-init.yml, azure-pipelines.yml

8th Cloud init: armel v5: fix shutdown-v2, armel 7z+libssl 1.1. ***NO_CI***
  cloud-init/VM-Manager.sh
Due: azure-pipelines-cloud-init.yml, azure-pipelines.yml

9th Cloud init: armel v5: fix shutdown-v2, armel 7z+libssl 1.1. ***NO_CI***
  cloud-init/VM-Initial-Provisioning.sh
Due: azure-pipelines-cloud-init.yml, azure-pipelines.yml

10th Cloud init: armel v5: fix shutdown-v2, armel 7z+libssl 1.1. ***NO_CI***
  cloud-init/VM-Initial-Provisioning.sh
Due: azure-pipelines-cloud-init.yml, azure-pipelines.yml

11th Cloud init: armhf 24.04, armel v5: fix shutdown-v2, armel 7z+libssl 1.1. ***NO_CI***
  azure-pipelines-cloud-init.yml
Due: azure-pipelines.yml

12th Cloud init: fix shutdown on ubuntu 14, armhf 24.04, armel v5: fix shutdown-v2, armel 7z+libssl 1.1. ***NO_CI***
  cloud-init/VM-Manager.sh
Due: azure-pipelines-cloud-init.yml, azure-pipelines.yml

14th Cloud init: fix shutdown on ubuntu 14, armhf 24.04, armel v5: fix shutdown-v2, armel 7z+libssl 1.1. ***NO_CI***
  azure-pipelines-cloud-init.yml
Due: azure-pipelines.yml

9 Test Cloud Images: Download All ***NO_CI***
  Cloud-Images/Download-CloudImage.sh
Due: azure-pipelines.yml

10 Test Cloud Images: Download All ***NO_CI***
  Cloud-Images/Step-DownloadAll.sh
Due: azure-pipelines.yml

11 Test Cloud Images: Download All ***NO_CI***
  Cloud-Images/Download-CloudImage.sh
Due: azure-pipelines.yml

12 Test Cloud Images: Compare Mac ***NO_CI***
  azure-pipelines-test-cloud-images.yml
Due: azure-pipelines.yml

13 Test Cloud Images: Compare Mac ***NO_CI***
  azure-pipelines-test-cloud-images.yml
Due: azure-pipelines.yml

14 Test Cloud Images: Compare Mac ***NO_CI***
  azure-pipelines-test-cloud-images.yml
Due: azure-pipelines.yml

15 Test Cloud Images: Compare Mac ***NO_CI***
  azure-pipelines-test-cloud-images.yml
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-Disk-Benchmarks.yml: any of: build-tools/Azure-Pipelines-Disk-Benchmark.sh
  azure-pipelines-build-cmake.yml: any of: build-tools
  azure-pipelines-build-curl.yml: any of: build-tools
  azure-pipelines-build-docker-images.yml: any of: build-tools/Prepare-proot.sh
  azure-pipelines-build-tools.yml: any of: build-tools
  azure-pipelines-cache-nuget.yml: any of: azure-pipelines-cache-nuget.yml, but not: *
  azure-pipelines-cloud-init.yml: any of: cloud-init
  azure-pipelines-enumerate-gcc.yml: any of: build-tools
  azure-pipelines-fetch-mono-fonts.yml: any of: azure-pipelines-fetch-mono-fonts.yml, build-tools/build-fonts-in-container.sh, but not: *
  azure-pipelines-pg-check-lab.yml: any of: postgres-lab
  azure-pipelines-postgres-lab.yml: any of: postgres-lab
  azure-pipelines-prepare-proot.yml: any of: build-tools/Prepare-proot.sh
  azure-pipelines-sqlserver-image.yml: any of: build-tools/Prepare-proot.sh
  azure-pipelines-static-portable-cmake.yml: any of: build-tools
  azure-pipelines-test-raid.yml: any of: azure-pipelines-test-raid.yml, but not: *
  azure-pipelines.yml: any of: *, but not: build-tools, azure-pipelines-build-tools.yml
