Repository devizer/azure-pipelines-agent-in-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-Disk-Benchmarks.yml, azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-Disk-Benchmarks.yml: any of: build-tools/Azure-Pipelines-Disk-Benchmark.sh
  azure-pipelines-build-cmake.yml: any of: build-tools
  azure-pipelines-build-curl.yml: any of: build-tools
  azure-pipelines-build-tools.yml: any of: build-tools
  azure-pipelines-enumerate-gcc.yml: any of: build-tools
  azure-pipelines-prepare-proot.yml: any of: build-tools/Prepare-proot.sh
  azure-pipelines-static-portable-cmake.yml: any of: build-tools
  azure-pipelines.yml: any of: *, but not: build-tools, azure-pipelines-build-tools.yml

5th build-mono.sh, jemalloc=no ***NO_CI***
  build-tools/build-mono.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

6th build-mono.sh, jemalloc=no ***NO_CI***
  build-tools/build-mono.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

7th build-mono.sh, jemalloc=no ***NO_CI***
  build-tools/build-mono.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

8th build-mono.sh, jemalloc=no ***NO_CI***
  build-tools/build-mono.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

9th build-mono.sh, jemalloc=no ***NO_CI***
  build-tools/build-mono.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

10th build-mono.sh, jemalloc=no ***NO_CI***
  build-tools/build-mono.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

build-mono.sh, GCC 11.2 ***NO_CI***
  build-tools/build-mono.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

build-mono.sh, GCC 11.2 + un ***NO_CI***
  build-tools/build-mono.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

azure-pipelines-static-portable-cmake.yml, success or fail ***NO_CI***
  azure-pipelines-static-portable-cmake.yml
Due: azure-pipelines.yml

2nd build-mono.sh, /opt ***NO_CI***
  build-tools/build-mono.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

azure-pipelines-build-mono.yml, off ASLR ***NO_CI***
  azure-pipelines-build-mono.yml
Due: azure-pipelines.yml

termux images: update ca certificates ***NO_CI***
  build-tools/Prepare-proot.sh
  build-tools/install-the-grep.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-static-portable-cmake.yml

Build Tools: grep with pcre ***NO_CI***
  build-tools/Build-Tools.sh
  build-tools/Build-and-Deploy-Git.sh (AIO, Single Step)
  build-tools/install-7zip-21.07.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

Prepare-proot: reverted pcre for grep ***NO_CI***
  build-tools/Prepare-proot.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-prepare-proot.yml, azure-pipelines-static-portable-cmake.yml

bump up azure pipelines agent
  cross-platform/install-apa.sh
Due: azure-pipelines.yml

bump up mono build ***NO_CI***
  build-tools/build-mono.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

added raspbian armv6 wheezy ***NO_CI***
  build-tools/Prepare-Docker-Images.sh
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml

added raspbian armv6 wheezy ***NO_CI***
  azure-pipelines-build-docker-images.yml
  build-tools/Raspbian-Images/Dockerfile
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

added raspbian armv6 wheezy ***NO_CI***
  azure-pipelines-build-docker-images.yml
Due: azure-pipelines.yml

added raspbian armv6 wheezy ***NO_CI*** source build-gcc-utilities.sh
  azure-pipelines-build-docker-images.yml
  build-tools/Prepare-Docker-Images.sh
  build-tools/Raspbian-Images/Dockerfile
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml, azure-pipelines.yml

added raspbian armv6 wheezy ***NO_CI*** source build-gcc-utilities.sh
  build-tools/Raspbian-Images/Dockerfile
Due: azure-pipelines-build-cmake.yml, azure-pipelines-build-curl.yml, azure-pipelines-build-tools.yml, azure-pipelines-enumerate-gcc.yml, azure-pipelines-static-portable-cmake.yml
